
  <body class="s-body">
    <div class="wrapper">
      <form class="form-signin">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="form-signin-heading">Login to My DVDs</h2>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block" %>
        <%- if devise_mapping.omniauthable? %>
          <%= link_to omniauth_authorize_path(@user, 'facebook'), class: "btn btn-block btn-social btn-facebook" do %>
            <span class="fa fa-facebook"></span>Sign in with Facebook
          <% end %>
        <% end -%>
        <% end %>
      </form>
    </div>
  </body>

<%= render "devise/shared/links" %>
