<%= form_for(@dvd, html: { class: "form-horizontal", role: "form" }) do |f| %>

  <%# Alert showing errors for this form %>
  <% if @dvd.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h4>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-md-8'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Barcode Scanner</h3>
        </div>
        <div class="panel-body">
          <div id='barcode-scanner'></div>
        </div>
      </div>
    </div>
  </div>

  <%# title %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>


  <%# disc_type %>
  <div class="form-group">
    <%= f.label :disc_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :disc_type, class: "form-control" %>
    </div>
  </div>

  <%# upc %>
  <div class="form-group">
    <%= f.label :upc, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :upc, class: "form-control" %>
    </div>
  </div>

  <%# Submit %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end -%>
